.crystal-image {
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 5px;
}

body {
    background-image: url(../images/Ice\ Cave.jpg);
}

.jumbotron {
    background: rgba(88, 88, 88, 0.65)
}

.container {
    padding: 20px;
    margin-bottom: 30px;   
}

.display-4, .lead {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #fff;
}

.content {
    background: rgba(255, 255, 255, 0.65);
}

h3 {
    color: #333;
    font-family: 'Raleway';
    font-weight: bold
}